@Model int
@{
    ViewBag.Title = "Checkout Complete";
}
<h2>Checkout Complete</h2>
<p>Thanks for your order! Your order number is: @Model</p>
<p>
    How about ordering for more food in our
    @Html.ActionLink("Menu", "Index", "MenuItems")
</p>