@{
    ViewBag.Title = "Contact";
}
<img src="~/Assets/Images/map.PNG" style="float:right;width:350px;height:250px;" />
<div class="caption" id="contacts">
    <h2>@ViewBag.Title.</h2>
    
    <address>
        Scarborough, Canada<br />
        2058 Ellesmere Rd #1<br />
        ON M1H 2V6 <br />
        <abbr title="Phone">P:</abbr>
        (416) 289-8885
    </address>

    <p>
        Opening Times: 10:00 am - 10:00 pm Every Week <br />
        *Closed on Holidays
    </p>

    <address>
        <strong>Kevin:</strong>   <a href="mailto:jankevinmunar@gmail.com">jankevinmunar@gmail.com</a><br />
        <strong>Bhavin:</strong> <a href="mailto:bhavinmaster111@gmail.com">bhavinmaster111@gmail.com</a>
    </address>
</div>
