@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kevin Bhavin Gourmet</h1>
    <p class="lead">"Fresh and affordable asian cousines right out of the kitchen."</p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Assets/Images/spices.jpg" class="img-thumbnail img-circle"/> <!-- Src: https://c2.staticflickr.com/6/5256/5525461716_4fe08b49ed_b.jpg -->
        <div  id="hometext">
            <h2>Fresh Ingredients</h2>
            <p>
                We serve only the fresh and affordable asian cousins cooked right on our kitchen and ingridients fresh from the market.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <img src="~/Assets/Images/place.jpg" class="img-thumbnail img-circle"/> <!-- Src: http://bestofberkeley.dailycal.org/static//img/winners-2016/best-chinese-food.nicole-white.jpg-->
        <div id="hometext">
            <h2>Our History</h2>
            <p>We started just our buisness in 2016 and have planned to start this buisness ever since College. We studied culinary arts and home made cooking to perfect our recipes.</p>
        </div>
    </div>
    <div class="col-md-4">
        <img src="~/Assets/Images/kitchen.jpg" class="img-thumbnail img-circle"/> <!-- Src: https://intothemiddlekingdom.files.wordpress.com/2013/01/20120225-dsc_70701.jpg -->
        <div id="hometext">
            <h2>Affordable</h2>
            <p>Since fine dinings only caviat is the price point. We decided that it would be more beneficial for us and the customers to lower our prices for mass consumption. Don't worry! We can still serve good quality food in time.</p> 
        </div>
    </div>
</div>